%legend
  Task:
  = @task.name
  = link_to t('.edit'), edit_task_path(@task), class: 'btn'
  = link_to t('.delete'), task_path(@task), method: 'delete', class: 'btn btn-danger'

%p
  %strong= t('.name')
  %br
  = @task.name
%p
  %strong= t('.state')
  %br
  = @task.state_name
%p
  %strong= t('.owner')
  %br
  = @task.owner_name

- @task.state_events.each do |e|
  = link_to e.capitalize, state_task_path(@task, event: e), class: "btn btn-success", method: :put

%legend Comments
%table.table.table-striped.table-condensed
  - @comments.each do |c|
    %tr
      %td
        = c.body
        .float-left
          %em
            = l c.created_at
            \&nbsp;by&nbsp
            = c.user.email

= simple_form_for [@task, @comment] do |f|
  = f.input :body, as: :text, input_html: {rows: 3}, label: false
  = f.button :submit, value: t('.add')

