!!!
%html
  %head
    %title SimpleTaskManager
    = stylesheet_link_tag    "web/application", :media => "all"
    = javascript_include_tag "web/application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        - if signed_in?
          %strong.brand
            logged as:&nbsp;
            %b>= current_user.email
          %ul.nav
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'Logout', session_path, method: :delete
        - else
          %strong.brand
            Simple Task Manager
    .container-fluid
      - if notice
        .alert.alert-info
          %p= notice
      - if alert
        .alert.alert-error
          %p= alert
    .container
      = yield
