!!!
%html
  %head
    %title SimpleTaskManager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      - if notice
        .alert.alert-info
          %p= notice
      - if alert
        .alert.alert-error
          %p= alert
    = yield
